@charset "UTF-8";
body {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #2C2B2B;
}

a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.footer {
  color: #FFFFFF;
}

.footer__blok1 {
  position: relative;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 97px;
}

.footer__number {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.footer__maintitle {
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  text-transform: uppercase;
}

.footer__title {
  margin-bottom: 30px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__button {
  margin-bottom: 70px;
}

.footer__media {
  margin-left: 66px;
  padding-bottom: 120px;
}

.footer__media img {
  padding-right: 5px;
  height: 100%;
}

.footer__baacimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__block2 {
  height: 200px;
  position: relative;
}

.footer__block2 img {
  max-width: 814px;
  position: absolute;
  top: -265px;
  right: 0;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.text {
  font-weight: 300;
}

.btn {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5A0D67;
  padding: 15px 55px;
}

.btn:hover {
  color: #5A0D67;
  background-color: #FFFFFF;
}

.title-line {
  position: relative;
  margin-right: 10px;
}

.title-line span {
  display: inline-block;
  margin-left: 10px;
}

.title-line span:after {
  content: '';
  display: block;
  width: 80px;
  position: absolute;
  border-bottom: 3px solid #21062A;
  top: 27px;
  padding-left: 5px;
}

.our-services__title {
  color: #21062A;
  margin-top: 70px;
  margin-bottom: 50px;
}

.our-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-services__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 505px;
          flex: 0 1 505px;
  margin-right: 95px;
}

.our-services__descr {
  margin-bottom: 69px;
}

.our-services__descr p {
  margin-bottom: 12px;
}

.our-services__smalltitle {
  color: #5A0D67;
  margin-bottom: 12px;
}

.our-services__points {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

.our-services__btn {
  margin-top: 50px;
  position: relative;
}

.our-services__btn:after {
  content: '';
  display: block;
  width: 80px;
  position: absolute;
  border-bottom: 1px solid #C4C4C4;
  top: 50%;
  right: -75px;
}

.our-services span span {
  position: relative;
}

.our-services span span::after {
  content: 'жми';
  position: absolute;
  top: 10%;
  right: -104px;
  color: #C4C4C4;
  text-transform: uppercase;
  font-size: 14px;
}

.our-services-item {
  border: 2px solid #c4c4c4;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
}

.our-services-item__number {
  color: #c4c4c4;
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.our-services-item__descr {
  padding-top: 5px;
  padding-bottom: 5px;
}

.our-services-item__title {
  font-size: 24px;
  line-height: 36px;
}

.our-services-item__title:hover {
  color: #5A0D67;
}

.our-services-item:hover {
  border: 3px solid #5A0D67;
  min-width: 500px;
}

.our-services-item:hover .our-services-item__number,
.our-services-item:hover .our-services-item__title {
  color: #5A0D67;
}

.why {
  margin-top: 100px;
}

.why__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__car {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 405px;
          flex: 0 0 405px;
}

.why__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.why__title {
  text-align: center;
  padding-bottom: 50px;
  color: #21062A;
}

.why__descr-inner {
  color: #FFFFFF;
  background: #21062A;
  padding-top: 23px;
  padding-bottom: 45px;
  padding-left: 185px;
}

.why__descr {
  max-width: 316px;
  margin-bottom: 25px;
}

.why__descr-sub {
  font-size: 24px;
  margin-bottom: 3px;
}

.cars__title {
  margin-bottom: 50px;
  margin-top: 100px;
  color: #21062A;
}

.cars__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cars__item {
  outline: 1px solid #C4C4C4;
  border: 4px solid #FFFFFF;
  margin: 0 9px;
}

.cars__item:hover {
  background-color: #5A0D67;
  color: #FFFFFF;
  outline: 1px solid #5A0D67;
  border: 4px solid #5A0D67;
}

.cars__name {
  text-align: center;
  margin-top: 23px;
}

.cars__price {
  text-align: center;
  margin-bottom: 11px;
}

.contacts__inner {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  color: #21062A;
  margin-bottom: 50px;
}

.contacts__adr {
  margin-bottom: 25px;
}

.contacts__inf1 {
  color: #5A0D67;
}

.contacts__form {
  background-color: #21062A;
  width: 600px;
}

.contacts__title-white {
  color: #FFFFFF;
  position: relative;
  margin-top: 50px;
  margin-left: 128px;
}

.contacts__title-white:after {
  content: '';
  display: block;
  width: 80px;
  position: absolute;
  border-bottom: 3px solid #FFFFFF;
  top: 27px;
  left: 268px;
  padding-left: 5px;
}

.contacts input {
  display: block;
  margin: 12px 75px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  height: 75px;
  width: 450px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.contacts input::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.contacts input:-ms-input-placeholder {
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.contacts input::-ms-input-placeholder {
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.contacts input::placeholder {
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.contacts button {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: 'Oswald';
  border: none;
  background-color: #5A0D67;
  padding: 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 15px 75px;
  margin: 78px 0 57px 175px;
}

.footer-real {
  background-color: #21062A;
}

.footer-real__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-real__logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-real__media img {
  margin-right: 5px;
}

.footer-real__pol {
  color: #FFFFFF;
}
