    body {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #2C2B2B;
    }
    
    a {
        color: #000000;
        text-decoration: none;
        display: inline-block;
    }
    
    .footer {
        color: #FFFFFF;
    }
    
    .footer__blok1 {
        position: relative;
    }
    
    .footer__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 97px;
    }
    
    .footer__number {
        font-weight: 400;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
    }
    
    .footer__maintitle {
        font-weight: 400;
        font-size: 72px;
        line-height: 90px;
        text-transform: uppercase;
    }
    
    .footer__title {
        margin-bottom: 30px;
    }
    
    .footer__text {
        margin-bottom: 30px;
    }
    
    .footer__button {
        margin-bottom: 70px;
    }
    
    .footer__media {
        margin-left: 66px;
        padding-bottom: 120px;
    }
    
    .footer__media img {
        padding-right: 5px;
        height: 100%;
    }
    
    .footer__baacimg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    .footer__block2 {
        height: 200px;
        position: relative;
    }
    
    .footer__block2 img {
        max-width: 814px;
        position: absolute;
        top: -265px;
        right: 0;
    }
    
    .container {
        max-width: 1194px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .title {
        font-weight: 400;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
    }
    
    .text {
        font-weight: 300;
    }
    
    .btn {
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5A0D67;
        padding: 15px 55px;
        &:hover {
            color: #5A0D67;
            background-color: #FFFFFF;
        }
    }
    
    .title-line {
        position: relative;
        margin-right: 10px;
        span {
            display: inline-block;
            margin-left: 10px;
            &:after {
                content: '';
                display: block;
                width: 80px;
                position: absolute;
                border-bottom: 3px solid #21062A;
                top: 27px;
                padding-left: 5px;
            }
        }
    }
    
    .our-services {
        &__title {
            color: #21062A;
            margin-top: 70px;
            margin-bottom: 50px;
        }
        &__inner {
            display: flex;
        }
        &__description {
            flex: 0 1 505px;
            margin-right: 95px;
        }
        &__descr {
            margin-bottom: 69px;
            p {
                margin-bottom: 12px;
            }
        }
        &__smalltitle {
            color: #5A0D67;
            margin-bottom: 12px;
        }
        &__points {
            flex: 0 0 450px;
        }
        &__item {}
        &__btn {
            margin-top: 50px;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 80px;
                position: absolute;
                border-bottom: 1px solid #C4C4C4;
                top: 50%;
                right: -75px;
            }
        }
        span {
            span {
                position: relative;
                &::after {
                    content: 'жми';
                    position: absolute;
                    top: 10%;
                    right: -104px;
                    color: #C4C4C4;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }
    
    .our-services-item {
        border: 2px solid #c4c4c4;
        margin-bottom: 12px;
        display: flex;
        max-width: 450px;
        &__number {
            color: #c4c4c4;
            padding-left: 20px;
            padding-right: 40px;
            margin-bottom: 16px;
            transform: rotate(-90deg);
        }
        &__descr {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &__title {
            font-size: 24px;
            line-height: 36px;
            &:hover {
                color: #5A0D67;
            }
        }
        &:hover {
            border: 3px solid #5A0D67;
            min-width: 500px;
            .our-services-item__number,
            .our-services-item__title {
                color: #5A0D67;
            }
        }
    }
    
    .why {
        margin-top: 100px;
        &__inner {
            display: flex;
        }
        &__car {
            flex: 0 0 405px;
        }
        &__description {
            flex: 1 1 auto;
        }
        &__title {
            text-align: center;
            padding-bottom: 50px;
            color: #21062A;
        }
        &__descr-inner {
            color: #FFFFFF;
            background: #21062A;
            padding-top: 23px;
            padding-bottom: 45px;
            padding-left: 185px;
        }
        &__descr {
            max-width: 316px;
            margin-bottom: 25px;
        }
        &__descr-title {}
        &__descr-sub {
            font-size: 24px;
            margin-bottom: 3px;
        }
        &__descr-text {}
    }
    
    .cars {
        &__title {
            margin-bottom: 50px;
            margin-top: 100px;
            color: #21062A;
        }
        &__slider {}
        &__items {
            display: flex;
        }
        &__item {
            outline: 1px solid #C4C4C4;
            border: 4px solid #FFFFFF;
            margin: 0 9px;
            &:hover {
                background-color: #5A0D67;
                color: #FFFFFF;
                outline: 1px solid #5A0D67;
                border: 4px solid #5A0D67;
            }
        }
        &__name {
            text-align: center;
            margin-top: 23px;
        }
        &__price {
            text-align: center;
            margin-bottom: 11px;
        }
    }
    
    .contacts {
        &__inner {
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
        }
        &__info {}
        &__title {
            color: #21062A;
            margin-bottom: 50px;
        }
        &__adr {
            margin-bottom: 25px;
        }
        &__inf1 {
            color: #5A0D67;
        }
        &__inf2 {}
        &__inf3 {}
        &__form {
            background-color: #21062A;
            width: 600px;
        }
        &__title-white {
            color: #FFFFFF;
            position: relative;
            margin-top: 50px;
            margin-left: 128px;
            &:after {
                content: '';
                display: block;
                width: 80px;
                position: absolute;
                border-bottom: 3px solid #FFFFFF;
                top: 27px;
                left: 268px;
                padding-left: 5px;
            }
        }
        input {
            display: block;
            margin: 12px 75px;
            border: 1px solid #FFFFFF;
            background-color: transparent;
            height: 75px;
            width: 450px;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            color: #fff;
            &::placeholder {
                text-align: center;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                color: #C4C4C4;
            }
        }
        button {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-family: 'Oswald';
            border: none;
            background-color: #5A0D67;
            padding: 10px;
            cursor: pointer;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            padding: 15px 75px;
            margin: 78px 0 57px 175px;
        }
    }
    
    .footer-real {
        background-color: #21062A;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__media {
            img {
                margin-right: 5px;
            }
        }
        &__pol {
            color: #FFFFFF;
        }
    }